<a href="https://colab.research.google.com/github/moniker0/github-credit-card-fraud-detection/blob/main/Fraud_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# importing dependencies

import pandas as pd
import sqlite3

In [9]:
# load the datasets

auth_data = pd.read_excel('/content/Fraud Test Data.xlsx', sheet_name='data1')
fraud_data = pd.read_excel('/content/Fraud Test Data.xlsx', sheet_name='data2')
dispute_data = pd.read_excel('/content/Fraud Test Data.xlsx', sheet_name='data3')

# EDA

1. We have following three datasets:
  * auth_data: 1059 rows
  * fraud_data: 915 rows
  * dispute_data: 67 rows
2. No missing values were encountered in the data.
3. No duplicate rows were encountered in the data.
4. Few date and time columns were transformed to datetime format.

In [23]:
# understanding the auth data

print("\n first few rows of dataset: \n", auth_data.head())
print("\n summary of dataset: \n")
auth_data.info()
print("\n dataset shape: \n", auth_data.shape)
print("\n summary statistics of numerical columns: \n", auth_data.describe())

 first few rows of dataset:
   Acct Number Trans ID  Trans Date  Trans Time  Trans Amount  \
0    KKVZ4954  2RR1CYV       45200    0.862928         12.01
1    VZIW1551  2NZYL4D       45200    0.993588          9.72
2    DMVI7535  R9FMZVB       45200    0.181644         16.25
3    UDZR6030  IDN1DA9       45200    0.514537         51.77
4    ERDO9578  TI8RFCZ       45200    0.673345         27.92

            Merchant Name Merchant ID Trans Description Trans Description2
0          APPLECARE PLAN    PFYX0169      AUTH GRANTED            APPROVE
1             Disney Plus    FUAF4101      AUTH GRANTED            APPROVE
2                 PP*IPSY    VJIG6479      AUTH GRANTED            APPROVE
3  CKE*LA TERRAZA MEXICAN    EIDF5096      AUTH GRANTED            APPROVE
4           TARGET T-1489    BHAK7703      AUTH GRANTED            APPROVE

 summary of dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Acct Number         1059 non-null   object
 1   Trans ID            1059 non-null   object
 2   Trans Date          1059 non-null   int64
 3   Trans Time          1059 non-null   float64
 4   Trans Amount        1059 non-null   float64
 5   Merchant Name       1059 non-null   object
 6   Merchant ID         1059 non-null   object
 7   Trans Description   1059 non-null   object
 8   Trans Description2  1059 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 74.6+ KB

 dataset shape:
 (1059, 9)

 summary statistics of numerical columns:
          Trans Date   Trans Time  Trans Amount
count   1059.000000  1059.000000   1059.000000
mean   45246.579792     0.554576     44.151634
std       26.343916     0.234796     98.984053
min    45200.000000     0.005081      0.240000
25%    45224.000000     0.378831      9.160000
50%    45248.000000     0.585845     19.000000
75%    45269.000000     0.739491     43.410000
max    45291.000000     0.996111   1886.730000

In [24]:
# understanding the fraud data

print("\n first few rows of dataset: \n", fraud_data.head())
print("\n summary of dataset: \n")
fraud_data.info()
print("\n dataset shape: \n", fraud_data.shape)
print("\n summary statistics of numerical columns: \n", fraud_data.describe())

 first few rows of dataset:
   Acct Number  Trans Year  Trans Month  Trans Date  Trans Hour  Trans Minute  \
0    MNCN2878          23           10           2          11            27
1    QNRI5078          23           11          30          18            36
2    LLJD5573          23           10          23          16            46
3    NQGC8517          23           12           9          15            30
4    PSIR8763          23           10           7          15            12

   Trans Second  Region Indicator  CVV_CVC_CD  CVV2_CVC2_CD  ...  \
0            21                 2           5             5  ...
1             2                 5           9             5  ...
2            21                 2           5             5  ...
3            53                 5           9             5  ...
4            38                 5           9             5  ...

   #Trans Occurred during past 24 hours with same Merchant Catogory Code  \
0                                                  1
1                                                  2
2                                                  1
3                                                  1
4                                                  1

   Merchant State Code  Cardholder State Code  Fraud Score 1   Fraud Score 2  \
0                   DC                     CA             277            317
1                   WA                     WA              34              1
2                   CA                     NC             211            466
3                   MA                     MA               9              0
4                   TX                     TX             354              0

           Merchant Name  Merchant ID  Presentation Instrument Type Code  \
0    USPS STAMPS ENDICIA     ZVHF7103                                  6
1         RITE AID 05257     EIAV2236                                  6
2    AIRBNB * HMN8XBAA5D     DCJU8699                                  6
3  SAM & JOES RESTAURANT     BRTF2271                                  6
4          WINGSTOP 0719     EYAY5092                                  6

  Transaction Amount Day of Week
0              25.00           M
1              19.55          TH
2             153.37           M
3              17.95          SA
4              63.95          SA

[5 rows x 27 columns]

 summary of dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915 entries, 0 to 914
Data columns (total 27 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Acct Number                                                            915 non-null    object
 1   Trans Year                                                             915 non-null    int64
 2   Trans Month                                                            915 non-null    int64
 3   Trans Date                                                             915 non-null    int64
 4   Trans Hour                                                             915 non-null    int64
 5   Trans Minute                                                           915 non-null    int64
 6   Trans Second                                                           915 non-null    int64
 7   Region Indicator                                                       915 non-null    int64
 8   CVV_CVC_CD                                                             915 non-null    int64
 9   CVV2_CVC2_CD                                                           915 non-null    int64
 10  Pos Entry Mode                                                         915 non-null    int64
 11  Merchant Catogory Code                                                 915 non-null    int64
 12  Time on Book                                                           915 non-null    int64
 13  Fraud Strategy                                                         915 non-null    int64
 14  #Trans Occurred during past 24 hours                                   915 non-null    int64
 15  Merchant Country Code                                                  915 non-null    int64
 16  Address Verification Code                                              915 non-null    int64
 17  #Trans Occurred during past 24 hours with same Merchant Catogory Code  915 non-null    int64
 18  Merchant State Code                                                    915 non-null    object
 19  Cardholder State Code                                                  915 non-null    object
 20  Fraud Score 1                                                          915 non-null    int64
 21  Fraud Score 2                                                          915 non-null    int64
 22  Merchant Name                                                          915 non-null    object
 23  Merchant ID                                                            915 non-null    object
 24  Presentation Instrument Type Code                                      915 non-null    int64
 25  Transaction Amount                                                     915 non-null    float64
 26  Day of Week                                                            915 non-null    object
dtypes: float64(1), int64(20), object(6)
memory usage: 193.1+ KB

 dataset shape:
 (915, 27)

 summary statistics of numerical columns:
        Trans Year  Trans Month  Trans Date  Trans Hour  Trans Minute  \
count       915.0   915.000000  915.000000  915.000000    915.000000
mean         23.0    11.041530   15.650273   12.784699     29.032787
std           0.0     0.825219    8.798876    5.658651     17.310304
min          23.0    10.000000    1.000000    0.000000      0.000000
25%          23.0    10.000000    8.000000    9.000000     14.000000
50%          23.0    11.000000   16.000000   13.000000     28.000000
75%          23.0    12.000000   23.000000   17.000000     44.000000
max          23.0    12.000000   31.000000   23.000000     59.000000

       Trans Second  Region Indicator  CVV_CVC_CD  CVV2_CVC2_CD  \
count    915.000000        915.000000  915.000000    915.000000
mean      29.186885          3.392350    6.827322      5.354098
std       17.233594          1.538046    1.993621      1.167237
min        0.000000          1.000000    5.000000      1.000000
25%       15.000000          2.000000    5.000000      5.000000
50%       29.000000          2.000000    5.000000      5.000000
75%       44.000000          5.000000    9.000000      5.000000
max       59.000000          5.000000    9.000000      9.000000

       Pos Entry Mode  ...  Time on Book  Fraud Strategy  \
count      915.000000  ...    915.000000      915.000000
mean        22.092896  ...     77.066667       11.920219
std         29.683028  ...     40.455407        6.845048
min          1.000000  ...     39.000000       11.000000
25%          5.000000  ...     46.000000       11.000000
50%         10.000000  ...     65.000000       11.000000
75%         10.000000  ...    100.000000       11.000000
max         90.000000  ...    299.000000       89.000000

       #Trans Occurred during past 24 hours  Merchant Country Code  \
count                            915.000000             915.000000
mean                               2.227322             827.389071
std                                2.506603              78.042991
min                                1.000000              76.000000
25%                                1.000000             840.000000
50%                                1.000000             840.000000
75%                                3.000000             840.000000
max                               38.000000             840.000000

       Address Verification Code  \
count                 915.000000
mean                    7.485246
std                     2.947489
min                     1.000000
25%                     9.000000
50%                     9.000000
75%                     9.000000
max                     9.000000

       #Trans Occurred during past 24 hours with same Merchant Catogory Code  \
count                                         915.000000
mean                                            1.537705
std                                             2.160783
min                                             1.000000
25%                                             1.000000
50%                                             1.000000
75%                                             1.000000
max                                            36.000000

       Fraud Score 1   Fraud Score 2  Presentation Instrument Type Code  \
count      915.000000     915.000000                         915.000000
mean       282.636066     114.495082                           5.672131
std        284.954839     184.350034                           0.779693
min          0.000000       0.000000                           3.000000
25%         32.000000       0.000000                           6.000000
50%        171.000000      50.000000                           6.000000
75%        538.000000     137.000000                           6.000000
max        980.000000     966.000000                           8.000000

       Transaction Amount
count          915.000000
mean            46.016404
std            104.082875
min              0.240000
25%              9.530000
50%             19.940000
75%             44.295000
max           1886.730000

[8 rows x 21 columns]

In [30]:
# understanding the dispute data

print("\n first few rows of dataset: \n", dispute_data.head())
print("\n summary of dataset: \n")
dispute_data.info()
print("\n dataset shape: \n", dispute_data.shape)
print("\n summary statistics of numerical columns: \n", dispute_data.describe())

 first few rows of dataset:
   Acct Number Trans ID  Trans Amount           MERCHANT_NAME Merchant ID  \
0    VMGN3421  736YLMD         19.98          APPLE.COM/BILL    CQNL4942
1    GFIV1392  ZZ5GIPY          9.62  RACETRAC566   00005660    TBXW7145
2    HWYU4035  WXUHSUF         39.95             DIGCOSH.COM    EXNN1510
3    EIBS2632  X22G2JM         63.60      CEMERLANG CELLULAR    YZXQ6142
4    EIBS2632  OD8JKQL         64.81      CEMERLANG CELLULAR    YZXQ6142

  CATEGORY  Case Create Date  Customer Report Date
0    Fraud             45338                 45338
1    Fraud             45247                 45247
2    Fraud             45289                 45289
3    Fraud             45272                 45272
4    Fraud             45272                 45272

 summary of dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Acct Number           67 non-null     object
 1   Trans ID              67 non-null     object
 2   Trans Amount          67 non-null     float64
 3   MERCHANT_NAME         67 non-null     object
 4   Merchant ID           67 non-null     object
 5   CATEGORY              67 non-null     object
 6   Case Create Date      67 non-null     int64
 7   Customer Report Date  67 non-null     int64
dtypes: float64(1), int64(2), object(5)
memory usage: 4.3+ KB

 dataset shape:
 (67, 8)

 summary statistics of numerical columns:
        Trans Amount  Case Create Date  Customer Report Date
count     67.000000         67.000000             67.000000
mean      50.960299      45263.044776          45262.925373
std       47.954925         31.469289             31.501954
min        1.100000      45208.000000          45208.000000
25%       11.440000      45236.500000          45236.000000
50%       31.770000      45260.000000          45260.000000
75%       81.255000      45286.000000          45286.000000
max      199.990000      45338.000000          45338.000000

In [ ]:
# clean up column names

auth_data.columns = auth_data.columns.str.lower().str.replace(' ', '_')
fraud_data.columns = fraud_data.columns.str.lower().str.replace(' ', '_')
dispute_data.columns = dispute_data.columns.str.lower().str.replace(' ', '_')

In [25]:
# check for missing values in the datasets

print(auth_data.isnull().sum())
print(fraud_data.isnull().sum())
print(dispute_data.isnull().sum())

Acct Number           0
Trans ID              0
Trans Date            0
Trans Time            0
Trans Amount          0
Merchant Name         0
Merchant ID           0
Trans Description     0
Trans Description2    0
dtype: int64
Acct Number                                                              0
Trans Year                                                               0
Trans Month                                                              0
Trans Date                                                               0
Trans Hour                                                               0
Trans Minute                                                             0
Trans Second                                                             0
Region Indicator                                                         0
CVV_CVC_CD                                                               0
CVV2_CVC2_CD                                                             0
Pos Entry Mode                                                           0
Merchant Catogory Code                                                   0
Time on Book                                                             0
Fraud Strategy                                                           0
#Trans Occurred during past 24 hours                                     0
Merchant Country Code                                                    0
Address Verification Code                                                0
#Trans Occurred during past 24 hours with same Merchant Catogory Code    0
Merchant State Code                                                      0
Cardholder State Code                                                    0
Fraud Score 1                                                            0
Fraud Score 2                                                            0
Merchant Name                                                            0
Merchant ID                                                              0
Presentation Instrument Type Code                                        0
Transaction Amount                                                       0
Day of Week                                                              0
dtype: int64
Acct Number             0
Trans ID                0
Trans Amount            0
MERCHANT_NAME           0
Merchant ID             0
CATEGORY                0
Case Create Date        0
Customer Report Date    0
dtype: int64

In [36]:
# Remove duplicates from the datasets

auth_data = auth_data.drop_duplicates()
fraud_data = fraud_data.drop_duplicates()
dispute_data = dispute_data.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Acct Number           67 non-null     object
 1   Trans ID              67 non-null     object
 2   Trans Amount          67 non-null     float64
 3   MERCHANT_NAME         67 non-null     object
 4   Merchant ID           67 non-null     object
 5   CATEGORY              67 non-null     object
 6   Case Create Date      67 non-null     datetime64[ns]
 7   Customer Report Date  67 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 4.3+ KB

In [31]:
# Convert the date and time fields to datetime format

auth_data['Trans Date'] = pd.to_datetime(auth_data['Trans Date'], unit='D', origin='1899-12-30')
dispute_data['Case Create Date'] = pd.to_datetime(dispute_data['Case Create Date'], unit='D', origin='1899-12-30')
dispute_data['Customer Report Date'] = pd.to_datetime(dispute_data['Customer Report Date'], unit='D', origin='1899-12-30')

In [50]:
# Find common columns in the datasets
common_cols = auth_data.columns.intersection(fraud_data.columns).intersection(dispute_data.columns)
print("Common columns in the datasets:", common_cols)

Common columns in the datasets: Index(['Acct Number', 'Merchant ID'], dtype='object')

,acct_number,trans_id,trans_date,trans_time,trans_amount,merchant_name,merchant_id,trans_description,trans_description2
0,KKVZ4954,2RR1CYV,2023-10-01,0.862928,12.01,APPLECARE PLAN,PFYX0169,AUTH GRANTED,APPROVE
1,VZIW1551,2NZYL4D,2023-10-01,0.993588,9.72,Disney Plus,FUAF4101,AUTH GRANTED,APPROVE
2,DMVI7535,R9FMZVB,2023-10-01,0.181644,16.25,PP*IPSY,VJIG6479,AUTH GRANTED,APPROVE
3,UDZR6030,IDN1DA9,2023-10-01,0.514537,51.77,CKE*LA TERRAZA MEXICAN,EIDF5096,AUTH GRANTED,APPROVE
4,ERDO9578,TI8RFCZ,2023-10-01,0.673345,27.92,TARGET T-1489,BHAK7703,AUTH GRANTED,APPROVE
...,...,...,...,...,...,...,...,...,...
1054,JOYP2797,TG8G5IY,2023-12-31,0.053380,19.38,ST JUDE Internet DNTN,UVVI8426,AUTH GRANTED,APPROVE
1055,DLIL7545,EP3ARML,2023-12-31,0.731296,2.99,APPLE.COM/BILL,UPVO8174,AUTH GRANTED,APPROVE
1056,AYIM2880,ZJ45PMU,2023-12-31,0.669560,37.46,CHRONIC TACOS - VALENC,LQBG4127,AUTH GRANTED,APPROVE
1057,EXCD8362,KG2B25O,2023-12-31,0.618241,121.82,SAMSCLUB.COM,SJDH9136,AUTH GRANTED,APPROVE
1058,ETRJ3454,TQBC808,2023-12-31,0.539259,10.81,APPLE.COM/BILL,PFUS2609,AUTH GRANTED,APPROVE